<style>
    .wiz-btn-help, .wiz-btn-finish {
        display: none !important;
    }
    #inserirOferecimento, #cancelarOferecimento {
        float: right;
        vertical-align: bottom;
    }
    .wizard2 {
        height: 525px;
    }
    .step {
        height: 525px !important;
    }
</style>
<center><h1>Administração de Oferecimentos</h1></center>
<div class="container">
    <div class="grid">
        <div class="flex-grid">
            <div class="row cell-auto-size">
                <div class="cell">
                    <div class="panel success">

                        <div class="heading">
                            <span class="title">Cadastro de oferecimento</span>
                        </div>
                        <hr>
                        <div class="tabcontrol2" data-role="tabcontrol">
                            <ul class="tabs">
                                <li><a href="#frameInsercao">Inserção</a></li>
                                <li><a href="#frameManutencao">Manutenção</a></li>
                            </ul>

                            <div class="frames">
                                <div class="frame" id="frameInsercao">
                                    <div class="wizard2" id="formularioOferecimentos">
                                        <!--Passo 1 - Período e Usuário-->
                                        <div class="step">
                                            <div class="step-content">
                                                <div class="row">
                                                    <div class="cell">
                                                        <h3>Período</h3>
                                                        <% for(var i = 0; i < dados.periodos.length; i++){ %>
                                                        <label class="input-control radio">
                                                            <input type="radio"
                                                                   name="periodo"
                                                                   value="<%= dados.periodos[i].id %>"
                                                                   checked="">
                                                            <span class="check"></span>
                                                            <span class="caption"><%= dados.periodos[i].nome %></span>
                                                        </label>
                                                        <input id="periodo<%= dados.periodos[i].id %>" value="<%= dados.periodos[i].nome %>" hidden="">
                                                        <% } %>
                                                    </div>
                                                    <div class="cell">
                                                        <h3>Usuário</h3>
                                                        <div class="input-control select">
                                                            <select id="usuario" name="usuario">
                                                                <% for(var i = 0; i < dados.usuarios.length; i ++){ %>
                                                                <option value="<%= dados.usuarios[i].id %>">
                                                                    <%= dados.usuarios[i].nome %> - <%= dados.usuarios[i].usr %>
                                                                </option>
                                                                <% } %>
                                                            </select>
                                                            <% for(var i = 0; i < dados.usuarios.length; i ++){ %>
                                                            <input id="usuario<%= dados.usuarios[i].id %>" value="<%= dados.usuarios[i].nome %>" hidden=""> 
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Passo 2 |FINAL| - Disciplina, campo opcional-->
                                        <div class="step">
                                            <div class="step-content">
                                                <div class="row">
                                                    <div class="cell">
                                                        <h3>Disciplina</h3>
                                                    </div>
                                                    <div class="cell">
                                                        <div class="input-control modern text place-right" data-role="input" style="width: 100%;">
                                                            <input id="txconsultainsercao" type="text">
                                                            <span class="label">Localizar</span>
                                                            <span class="informer">Digite o termo da busca</span>
                                                            <span class="placeholder">Digite o termo da busca</span>
                                                            <button id="btnConsultaInsercao" class="button"><span class="mif-search"></span></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input id="disciplinaid" value="" hidden="">

                                                <table id="gridDisciplinas">

                                                </table>
                                                <input id="disciplinainsercao" hidden="" value="">

                                                <div class="row">
                                                    <div class="cell">
                                                        <p>
                                                            Usuário: <span id="usuariopreviewinsercao"></span>
                                                        </p>
                                                    </div>
                                                    <div class="cell">
                                                        <div class="row">
                                                            <div class="cell">
                                                                <button id="inserirOferecimento" class="button primary">Inserir</button>
                                                            </div>
                                                            <!--                                                            <div class="cell">
                                                                                                                            <button id="cancelarformulário" class="button warning">Cancelar</button>
                                                                                                                        </div>-->
                                                        </div>   
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="cell">
                                                        <p>
                                                            Disciplina selecionada: <span id="disciplinaSelecionada"></span>
                                                        </p>
                                                    </div>
                                                    <div class="cell">
                                                        <p>
                                                            Período: <span id="periodopreviewinsercao"></span>
                                                        </p>                                                     
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>  
                                </div>

                                <div class="frame" id="frameManutencao">
                                    <div class="cells2">
                                        <div class="row">
                                            <div class="cell colspan4">
                                                <center><h4>Buscar por usuário ou disciplina</h4></center>
                                                <div class="input-control modern text place-right" data-role="input" style="width: 100%;">
                                                    <input id="txconsulta" type="text">
                                                    <span class="label">Localizar</span>
                                                    <span class="informer">Digite o termo da busca</span>
                                                    <span class="placeholder">Digite o termo da busca</span>
                                                    <button id="btnConsultaManutencao" class="button"><span class="mif-search"></span></button>
                                                </div>
                                                <p>Oferecimento selecionado: <span id="oferecimentoSelecionado"></span></p>
                                                <input id="oferecimentoid" value="" hidden="">
                                                <button id="cancelarOferecimento" class="button warning">Cancelar oferecimento</button>
                                            </div>
                                            <div class="cell colspan8">
                                                <table id="gridConsulta">

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>
<script>
    $('#inserirOferecimento').on('click', function () {
        var admin = new Admin();
        var titulo = "Cadastro de período";
        var conteudo = "Deseja cadastrar o oferecimento?";
        var callback = function ()
        {
            $.post('cadastrar-oferecimento',
                    {
                        disciplina: $('#disciplinainsercao').val(),
                        periodo: periodo,
                        usuario: usuario
                    }, function (data, status)
            {
                $.Notify(
                        {
                            caption: data.title,
                            content: data.msg,
                            timeout: 10000,
                            type: data.status
                        });
                if (data.status === 'success')
                {
                    var txBusca = $('#txconsulta').val();
                    $("#gridConsulta").bootstrapTable('refresh',
                            {
                                url: "/oferecimentos?txBusca=" + txBusca
                            });

                    $("#gridDisciplinas").bootstrapTable('refresh',
                            {
                                url: "/disciplinas/ativas/nao-oferecidas"
                            });
                }
            });
        };
        admin.dialog(titulo, conteudo, callback);
    });

    $('#cancelarOferecimento').on('click', function () {
        var oferecimentoNovo = new Oferecimento();

        if (!oferecimentoNovo.validaOferecimentoSelecionado($('#oferecimentoid').val()))
            return;
        oferecimentoNovo.id = $('#oferecimentoid').val();

        var admin = new Admin();
        var titulo = "Cancelamento de oferecimento";
        var conteudo = "Deseja cancelar o oferecimento \'"
                + $('#oferecimentoSelecionado').val() + "\'?";

        var callback = function ()
        {
            $.post('desativar-oferecimento',
                    {
                        id: oferecimentoNovo.id
                    },
                    function (data, status)
                    {
                        $.Notify({
                            caption: data.title,
                            content: data.msg,
                            timeout: 10000,
                            type: data.status
                        });
                        if (data.status === 'success')
                        {
                            var txBusca = $('#txconsulta').val();
                            $("#gridConsulta").bootstrapTable('refresh',
                                    {
                                        url: "/oferecimentos?txBusca=" + txBusca
                                    });

                            $("#gridDisciplinas").bootstrapTable('refresh',
                                    {
                                        url: "/disciplinas/ativas/nao-oferecidas"
                                    });
                        }
                    });
        };
        admin.dialog(titulo, conteudo, callback);
    });

    $('#btnConsultaInsercao').on('click', function ()
    {
        $("#gridDisciplinas").bootstrapTable('refresh', {
            url: "/disciplinas/ativas/nao-oferecidas?txconsulta=" + $('#txconsultainsercao').val()
        });
    });

    $('#btnConsulta').on('click', function ()
    {
        $("#gridPeriodos").bootstrapTable('refresh', {
            url: "/disciplinas?txconsulta=" + $('#txconsulta').val()
        });
    });

    $("#gridDisciplinas").bootstrapTable({
        url: "/disciplinas/ativas/nao-oferecidas",
        pageSize: 5,
        pagination: true,
        pagelist: [10, 100, 250], sidePagination: 'server',
        columns: [
            {field: 'disciplinadescricao', title: 'Disciplinas', width: '15%'},
            {field: 'disciplinasigla', title: 'Sigla', width: '15%'},
            {field: 'cursosigla', title: 'Curso', width: '15%'},
            {field: 'disciplinacargahoraria', title: 'Carga Horária', width: '10%'},
            {field: 'disciplinasemestre', title: 'Semestre', width: '15%'}
        ],
        onClickRow: function (row)
        {
            $('#disciplinaSelecionada').html('<strong>' + row.disciplinadescricao + ' - ' + row.cursosigla + '</strong>');
            $('#disciplinainsercao').val(row.disciplinaid);
        }
    });

    $('#btnConsultaManutencao').on('click', function ()
    {
        var txBusca = $('#txconsulta').val();

        $("#gridConsulta").bootstrapTable('refresh',
                {
                    url: "/oferecimentos?txBusca=" + txBusca
                });
    });

    $("#gridConsulta").bootstrapTable({
        url: "/oferecimentos",
        pageSize: 10,
        pagination: true,
        pagelist: [10, 100, 250], sidePagination: 'server',
        columns: [
            {field: 'usuarionome', title: 'Nome', width: '45%'},
            {field: 'usuariousr', title: 'Usuário', width: '15%'},
            {field: 'periodonome', title: 'Período', width: '10%'},
            {field: 'disciplina', title: 'Disciplina', width: '20%'},
            {field: 'sigla', title: 'Curso', width: '10%'}
        ],
        onClickRow: function (row)
        {
            $('#oferecimentoSelecionado').html('<strong>' + row.usuariousr + '-' + row.periodonome + '-' + row.disciplina + '</strong>');
            $('#oferecimentoSelecionado').val(row.usuariousr + '-' + row.periodonome + '-' + row.disciplina);
            $('#oferecimentoid').val(row.id);
        }
    });

    $(function ()
    {
        $("#formularioOferecimentos").wizard2(
                {
                    onNext: function ()
                    {
                        periodo = $('input[name=periodo]:checked').val();
                        usuario = $('select[name=usuario]').val();
                        $('#disciplinainsercao').val('');
                        $('#usuariopreviewinsercao').html('<strong>' + $('#usuario' + usuario).val() + '</strong>');
                        $('#periodopreviewinsercao').html('<strong>' + $('#periodo' + periodo).val() + '</strong>');
                        return true;
                    }
                }
        );
    });

    $('.wiz-btn-next').on('click', function () //not work
    {
        console.log('oi');
    });

    var periodo = null;
    var usuario = null;
    function capturaSelecaoPeriodoUsuario()
    {
        periodo = $('input[name=periodo]:checked').val();
        usuario = $('select[name=usuario]').val();
        $('#disciplinainsercao').val('');
        $('#usuariopreviewinsercao').html('<strong>' + $('#usuario' + usuario).val() + '</strong>');
        $('#periodopreviewinsercao').html('<strong>' + $('#periodo' + periodo).val() + '</strong>');
    }
    
    $("tbody").on("click", "tr", function (e) {
        $(this)
                .toggleClass("selected")
                .siblings(".selected")
                .removeClass("selected");
    });
</script>